# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
deb-*
.rpmbuild/
*.rpm
*.tar.gz
usr/lib/Horizon_AD_Tool/bin/
usr/lib/Horizon_AD_Tool/Linux-dist/bin/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
# lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
# *.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
usr/lib/Horizon_AD_Tool/.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# IDE
/.idea/
/.vscode/
.nvimlog
/App
/Settings/Settings-debug.ini
/Settings/Settings.ini
/Settings/Config.ini
/scrap
/Upload
/Tmp
/Old_settings
/usr/lib/*/compile.py
/usr/lib/*/updateSettings.py
/usr/lib/Horizon_AD_Tool/AppDir/
# /usr/lib/*/icon.py
*.exe
*.gif
/OLD
/usr/lib/*/__pycache__
/student_images
/student_images - Copy
/tass_export
/temp
/uploads
/backup_*
test_*
# /usr/lib/*/Settings
*AppImage

# Windows reserved device name artifacts
nul
